*{
		margin:50;
		padding:30;
		font-family:Times new romen;
		
		
}

body{
		
		margin:50;
		padding:20px;
		outline-style:solid;
		background-image:linear-gradient(to bottom right,#56d109b8,#ffb74d);
		
	
}



.convert{
		background-color:#0096FF;
		color:white;
		padding:5px 20px;
		margin:2px 1px;
		display:inline-black;
		cursor:pointer;
		width:10em;
		float:left;
		position:none;
		left:40%;


}

.from,.to{
		padding:5px 80px;

}

.searchBox{
		padding:5px 50px;	

}

img{
		
		width: 8%;
}


label{
		float:left;
		width:65em;
		margin-right:1em;
}

#convertamount{
		padding:20px 50px;
		background-color:lightgrey;

}